<main>

            <header class="site-header section-padding-img site-header-image">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 header-info">
                            <h1>
                                <span class="d-block text-primary">Compania</span>
                                <span class="d-block text-dark">de încredere</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <img src="images/header/businesspeople-meeting-office-working.jpg" class="header-image img-fluid" alt="">
            </header>

            <section class="team section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-5">Echipa <span>noastră</span></h2>
                        </div>

                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="images\liliana.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                                <div class="team-info">
                                    <h5 class="mb-0">Lilly</h5>
                                    <strong class="text-muted">Dev, Admin</strong>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#don">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="images/cornelia.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                                <div class="team-info">
                                    <h5 class="mb-0">Nelly</h5>
                                    <strong class="text-muted">Dev, Admin</strong>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#kelly">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </section>

            <section class="testimonial section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-9 mx-auto col-11">
                            <h2 class="text-center">Încrederea clienților, <br> <span>Prioritatea</span> noastră</h2>

                            <div class="slick-testimonial">
                                <div class="slick-testimonial-caption">
                                    <p class="lead">De peste trei ani în domeniu, am avut ocazia să lucrăm la o varietate de proiecte, alături de companii precum ABC Construct, DecoHome și RenovArt, oferind soluții personalizate și de calitate.</p>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="images/people/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                        <span>Andrei, <strong class="text-muted">Manager relații clienți și externe</strong></span>
                                    </div>
                                </div>

                                <div class="slick-testimonial-caption">
                                    <p class="lead">Fiecare proiect este o provocare, dar și o oportunitate de a transforma viziunea clienților în realitate. Am reușit să aducem la viață spații unice, combinând estetica modernă cu funcționalitatea, iar satisfacția clienților este cea mai mare reușită pentru noi.</p>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="images/people/beautiful-woman-face-portrait-brown-background.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                        <span>David, <strong class="text-muted">Designer de interior</strong></span>
                                    </div>
                                </div>

                                <div class="slick-testimonial-caption">
                                    <p class="lead">În cei peste trei ani de activitate, am gestionat proiecte de renovare complexe, reușind să respectăm termenele și bugetele stabilite. Faptul că mulți dintre clienții noștri revin pentru noi colaborări este cea mai bună dovadă a succesului nostru.</p>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="images/people/portrait-british-woman.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                        <span>Anastasia, <strong class="text-muted">Manager de proiect</strong></span>
                                    </div>
                                </div>

                                <div class="slick-testimonial-caption">
                                    <p class="lead">Calitatea execuției este esențială în fiecare detaliu. Am avut ocazia să lucrăm cu materiale premium și să aplicăm tehnici inovatoare pentru a oferi rezultate impecabile. Fiecare proiect finalizat cu succes este o motivație să devenim și mai buni.</p>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="images/people/woman-wearing-mask-face-closeup-covid-19-green-background.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                        <span>Cătălin, <strong class="text-muted">Specialist în finisaje</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                         <h4 class="text-white mb-3"><a href="index.html">CL</a> Modern Concepts</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2025 <strong>CL</strong></p>
                        <br>
                        <p class="copyright-text">Designed by us</p>
                    </div>

                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3">Sitemap</h5>

                        <ul class="footer-menu d-flex flex-wrap">
                            <li class="footer-menu-item"><a href="about.html" class="footer-menu-link">Despre noi</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Produse</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Politica de confidențialitate</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQs</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contacte</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>

                        <ul class="social-icon">

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link bi-skype"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>


        <!-- TEAM MEMBER MODAL -->
        <div class="modal fade" id="kelly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Cornelia</h3>

                        <h6 class="text-muted">Dev, CEO</h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Peste trei ani de experiență în domeniu, lucrând la o varietate de proiecte alături de companii de renume</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p><strong>Cornelia - CEO & Co-Fondator</strong></p>
        <p>Cornelia este motorul strategic al CL Design & Renovation, având o viziune clară asupra dezvoltării și inovației în domeniul renovărilor. Cu o abordare practică și orientată spre rezultate, ea se asigură că fiecare proiect este gestionat eficient și livrat la cele mai înalte standarde.</p>
    </div>

                            <div class="col-lg-6 col-12">
                                 <p>Sub conducerea Corneliei, compania a crescut constant, devenind un nume de referință în industrie. Datorită expertizei și dedicării sale, CL Design & Renovation oferă soluții creative și durabile, transformând fiecare spațiu într-un loc ideal pentru clienții noștri.</p>
    </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Social</strong></li>

                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        
