@{
     Layout = "~/Views/Shared/_Layout.cshtml"; <!-- This tells the view to use the shared layout -->
     ViewData["Title"] = "Index";
}



          <section class="slick-slideshow">
               <div class="slick-custom">
                    <img src="~/images/Start page 1.png" class="img-fluid" alt="">

                    <div class="slick-bottom">
                         <div class="container">
                              <div class="row">
                                   <div class="col-lg-6 col-10">
                                        <h1 class="slick-title">Cool Fashion</h1>

                                        <p class="lead text-white mt-lg-3 mb-lg-5">Transformăm Spații în adevărate capodopere a stilului și eleganței.</p>

                                        <a asp-controller="Home" asp-action="about" class="btn custom-btn">Află mai multe</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="slick-custom">
                    <img src="~/images/start page 3.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                         <div class="container">
                              <div class="row">
                                   <div class="col-lg-6 col-10">
                                        <h1 class="slick-title">New Design</h1>

                                        <p class="lead text-white mt-lg-3 mb-lg-5">Unde viziunea se întâlnește cu măiestria - Design inovativ, renovație și inspirație.</p>

                                        <a href="products.html" class="btn custom-btn">Explorează produse</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="slick-custom">
                    <img src="~/images/team2.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                         <div class="container">
                              <div class="row">
                                   <div class="col-lg-6 col-10">
                                        <h1 class="slick-title">Talk to us</h1>

                                        <p class="lead text-white mt-lg-3 mb-lg-5">Aducem visurile la viață - Expert în design, renovație și idei pentru tine.</p>

                                        <a href="contact.html" class="btn custom-btn">Lucrează cu noi</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

          </section>

          <section class="about section-padding">
               <div class="container">
                    <div class="row">

                         <div class="col-12 text-center">
                              <h2 class="mb-5">Începe cu <span>CL</span>, Expertul viziunii tale</h2>
                         </div>

                         <div class="col-lg-2 col-12 mt-auto mb-auto">
                              <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                                   <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Introducere</button>
                                   </li>

                                   <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">Lucrul nostru</button>
                                   </li>

                                   <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Capacități</button>
                                   </li>
                              </ul>
                         </div>

                         <div class="col-lg-10 col-12">
                              <div class="tab-content mt-2" id="pills-tabContent">
                                   <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                        <div class="row">
                                             <div class="col-lg-7 col-12">
                                                  <img src="~/images/pim-chu-z6NZ76_UTDI-unsplash.jpeg" class="img-fluid" alt="">
                                             </div>

                                             <div class="col-lg-5 col-12">
                                                  <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                       <h4 class="mb-3">Inovativ, <span>Proaspăt</span> <br>Totul pentru<span> fericirea</span> Ta</h4>

                                                       <p>La CL Modern Concepts, transformăm casele în spații de vis! Cu o echipă de specialiști în design interior și renovare, oferim soluții personalizate pentru fiecare client. </p>

                                                       <p>Ne concentrăm pe calitate, funcționalitate și estetică, îmbinând creativitatea cu materialele de cea mai bună calitate. Indiferent dacă este vorba de o renovare completă sau de un upgrade modern, suntem aici să aducem viziunea ta la viață!</p>

                                                       <div class="mt-2 mt-lg-auto">
                                                            <a href="about.html" class="custom-link mb-2">
                                                                 Mai multe despre noi
                                                                 <i class="bi-arrow-right ms-2"></i>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>

                                   <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                                        <div class="row">
                                             <div class="col-lg-7 col-12">
                                                  <div class="ratio ratio-16x9">
                                                       <iframe src="https://www.youtube.com/embed/PpeE86P9TnA?si=7TvpxSXVPcWtDgz1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                  </div>
                                             </div>

                                             <div class="col-lg-5 col-12">
                                                  <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                       <h4 class="mb-3">Cu noi viața devine mai dulce</h4>

                                                       <p>De peste trei ani în domeniu, am avut ocazia să lucrăm la o varietate de proiecte, colaborând cu diverse companii și clienți pentru a transforma spațiile lor în locuri funcționale și estetice.</p>


                                                       <div class="mt-2 mt-lg-auto">
                                                            <a href="contact.html" class="custom-link mb-2">
                                                                 Lucrează cu noi!
                                                                 <i class="bi-arrow-right ms-2"></i>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>

                                   <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                        <div class="row">
                                             <div class="col-lg-7 col-12">
                                                  <img src="~/images/cody-lannom-G95AReIh_Ko-unsplash.jpeg" class="img-fluid" alt="">
                                             </div>

                                             <div class="col-lg-5 col-12">
                                                  <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                       <h4 class="mb-3">Cu ce te putem ajuta?</h4>

                                                       <p>Am avut un succes enorm în proiectele noastre, iar ratingul de la clienți este</p>

                                                       <div class="skill-thumb mt-3">

                                                            <strong>Calitate</strong>
                                                            <span class="float-end">100%</span>
                                                            <div class="progress">
                                                                 <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                            </div>

                                                            <strong>Comunicare</strong>
                                                            <span class="float-end">100%</span>
                                                            <div class="progress">
                                                                 <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                            </div>

                                                            <strong>Performanță</strong>
                                                            <span class="float-end">100%</span>
                                                            <div class="progress">
                                                                 <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                            </div>

                                                       </div>

                                                       <div class="mt-2 mt-lg-auto">
                                                            <a href="products.html" class="custom-link mb-2">
                                                                 Explorează produse
                                                                 <i class="bi-arrow-right ms-2"></i>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>

                    </div>
               </div>
          </section>

          <section class="front-product">
               <div class="container-fluid p-0">
                    <div class="row align-items-center">

                         <div class="col-lg-6 col-12">
                              <img src="~/images/start.jpg" class="img-fluid" alt="">
                         </div>

                         <div class="col-lg-6 col-12">
                              <div class="px-5 py-5 py-lg-0">

                                   <h2 class="mb-4"><span>Calitate</span> 100%</h2>

                                   <a href="products.html" class="custom-link">
                                        Explorează produse
                                        <i class="bi-arrow-right ms-2"></i>
                                   </a>
                              </div>
                         </div>

                    </div>
               </div>
          </section>

          <section class="featured-product section-padding">
               <div class="container">
                    <div class="row">

                         <div class="col-12 text-center">
                              <h2 class="mb-5">Produse</h2>
                         </div>

                         <div class="col-lg-4 col-12 mb-3">
                              <div class="product-thumb">
                                   <a href="product-detail.html">
                                        <img src="~/images/product/evan-mcdougall-qnh1odlqOmk-unsplash.jpeg" class="img-fluid product-image" alt="">
                                   </a>

                                   <div class="product-top d-flex">
                                        <span class="product-alert me-auto">New</span>

                                        <a href="#" class="bi-heart-fill product-icon"></a>
                                   </div>

                                   <div class="product-info d-flex">
                                        <div>
                                             <h5 class="product-title mb-0">
                                                  <a href="product-detail.html" class="product-title-link">Tree pot</a>
                                             </h5>

                                             <p class="product-p">Original package design from house</p>
                                        </div>

                                        <small class="product-price text-muted ms-auto mt-auto mb-5">$25</small>
                                   </div>
                              </div>
                         </div>

                         <div class="col-lg-4 col-12 mb-3">
                              <div class="product-thumb">
                                   <a href="product-detail.html">
                                        <img src="~/images/product/jordan-nix-CkCUvwMXAac-unsplash.jpeg" class="img-fluid product-image" alt="">
                                   </a>

                                   <div class="product-top d-flex">
                                        <span class="product-alert">Preț avantajos</span>

                                        <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                                   </div>

                                   <div class="product-info d-flex">
                                        <div>
                                             <h5 class="product-title mb-0">
                                                  <a href="product-detail.html" class="product-title-link">Fashion Set</a>
                                             </h5>

                                             <p class="product-p">Costume Package</p>
                                        </div>

                                        <small class="product-price text-muted ms-auto mt-auto mb-5">$35</small>
                                   </div>
                              </div>
                         </div>

                         <div class="col-lg-4 col-12">
                              <div class="product-thumb">
                                   <a href="product-detail.html">
                                        <img src="~/images/product/nature-zen-3Dn1BZZv3m8-unsplash.jpeg" class="img-fluid product-image" alt="">
                                   </a>

                                   <div class="product-top d-flex">
                                        <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                                   </div>

                                   <div class="product-info d-flex">
                                        <div>
                                             <h5 class="product-title mb-0">
                                                  <a href="product-detail.html" class="product-title-link">Juice Drinks</a>
                                             </h5>

                                             <p class="product-p">Nature made another world</p>
                                        </div>

                                        <small class="product-price text-muted ms-auto mt-auto mb-5">$45</small>
                                   </div>
                              </div>
                         </div>

                         <div class="col-12 text-center">
                              <a href="products.html" class="view-all">Vezi toate</a>
                         </div>

                    </div>
               </div>
          </section>
