@model List<MRSTWeb.Domain.Entities.Product.Service>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Our Services";
}

<section class="products section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-5">Our Services</h2>
            </div>

            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <img src="@product.ImagePath" class="img-fluid product-image" alt="@product.Name" />

                        <div class="product-info d-flex mt-2">
                            <div>
                                <h5 class="product-title mb-0">@product.Name</h5>
                                <p class="product-p">@product.Description</p>
                            </div>
                            <small class="product-price text-muted ms-auto">From $@product.Price</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
