@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        padding-top: 200px;
    }
</style center-align>
<h2 class="text-center"> Thank You!</h2>
<p class="text-center"> Your order has been placed successfully.</p>
